<!-- todos: -->
    <!-- add gender and link it to measurements.gender for calculations & for edit/new-->
    <!-- above looks like its done? -->
<div class="cover"></div>

<div class="profile-container"></div> 

<div class='form-container'>
<%= image_tag @user.avatar.url(:thumb), class: "avatar" %>
<h1 class='edit-profile-header'>Edit Profile</h1>
  <%= form_for @user, html: { multipart: true } do |f| %>
    <div class='form-text-inputs'>
      <div class='form-static-details'>
        <%= f.label :avatar, "Profile Photo: " %>
        <br>
        <%= f.file_field :avatar %>
        <br>
        <%= f.label :age, "Age: " %>
        <br>
        <%= f.text_field :age %>
        <br>
        <%= f.label :first_name, "First Name: " %>
        <br>
        <%= f.text_field :first_name %>
        <br>
        <%= f.label :last_name, "Last Name: " %>
        <br>
        <%= f.text_field :last_name %>
        <br>
        <%= f.label :email, "Email: " %>
        <br>
        <%= f.text_field :email %>
        <br>
          <%= f.label :gender, "Gender: " %>
        <br>
          <%= f.select(:gender, options_for_select([
            ["male","male"],
            ["female","female"],
            ])) %>
        <br>
      </div>

      <div class='form-measurements'>
        <%= f.label :weight, "Weight: " %>
        <br>
        <%= f.text_field :weight %>
        <br>
        <%= f.label :height, "Height: " %>
        <br>
        <%= f.text_field :height %>
        <br>
        <%= f.label :wrist, "Wrist: " %>
        <br>
        <%= f.text_field :wrist %>
        <br>
        <%= f.label :waist, "Waist: " %>
        <br>
        <%= f.text_field :waist %>
        <br>
        <%= f.label :forearm, "Forearm: " %>
        <br>
        <%= f.text_field :forearm %>
        <br>
        <%= f.label :hips, "Hips: " %>
        <br>
        <%= f.text_field :hips %>
        <br>
        <%= f.label :chest, "Chest: " %>
        <br>
        <%= f.text_field :chest %>
        <br>
        <%= f.label :neck, "Neck: " %>
        <br>
        <%= f.text_field :neck %>
        <br>
      </div>
    </div>

    <div class='form-buttons'> 
      <%= f.submit "Save changes" %>
      <br>
      <%= link_to 'Back', users_path %>
    </div>
  <% end %>
</div>