
    <div id="mlist">
      <table id="measurement" class="table table-striped">
        <tr>
          <th>Measurements</th>
          <th></th>
        </tr>
        <tr>
          <th>Item</th>
          <th>Status</th>
        </tr>

        <tr> <!-- Add measurement to iterate last measurements -->
          <td>Weight:</td>
          <td><%= @measurement.weight %></td>
        </tr>
        <tr>
          <td>Body Fat %:</td>
          <td><%= @measurement.body_fat %></td>
        </tr>
        <tr>
          <td>Waist:</td>
          <td><%= @measurement.waist %></td>
        </tr>
        <tr>
          <td>Neck:</td>
          <td><%= @measurement.neck %></td>
        </tr>
        <tr>
          <td>Chest:</td>
          <td><%= @measurement.chest %></td>
        </tr>
        <tr>
          <td>Hips:</td>
          <td><%= @measurement.hips %></td>
        </tr>
      </table>
    </div>

