
    <div id="mlist">
      <table id="measurement" class="table table-striped">
        <tr>
          <th>Measurements</th>
          <th></th>
        </tr>
        <tr>
          <th>Item</th>
          <th>Status</th>
        </tr>

        <tr> <!-- Add measurement to iterate last measurements -->
          <td>Weight:</td>
          <td><%= @user.weight.round(2) %></td>
        </tr>
        <tr>
          <td>Body Fat %:</td>
          <td><%= @user.body_fat.round(2) %></td>
        </tr>
        <tr>
          <td>Waist:</td>
          <td><%= @user.waist.round(2) %></td>
        </tr>
        <tr>
          <td>Neck:</td>
          <td><%= @user.neck.round(2) %></td>
        </tr>
        <tr>
          <td>Chest:</td>
          <td><%= @user.chest.round(2) %></td>
        </tr>
        <tr>
          <td>Hips:</td>
          <td><%= @user.hips.round(2) %></td>
        </tr>
      </table>
    </div>

