
<% if current_user && current_user.admin? %>
    <%= render 'admin_nav' %>

    <div class="container">


      <!-- Title of client -->
      <%= image_tag @user.avatar.url(:thumb), class: "avatar" %>
      <!-- demo avatar -->
      <!-- <% if @user.gender == "male" %>
        <img src="http://www.naturaloil.ph/wp-content/uploads/2015/11/John_Doe.jpg" class="avatar">
      <% else %>
        <img src="http://irishdeaths.com/wp-content/uploads/2014/03/Jane-Doe-3.jpg" class="avatar">
      <% end %> -->
      <h1><%= @user.first_name.capitalize %>'s Progress</h1>
      <h3>(<%= @user.email %>)</h3>
      <!-- End of title of client -->

      <!-- Button for workout -->
      <a href="/users/<%= @user.id %>/workouts/new"><button class="btn btn-lg btn-primary">Create New Workout</button></a>
      <!-- Button for measurements -->
      <a href="/users/<%= @user.id %>/measurements/new"><button class="btn btn-lg btn-primary">Add A Measurement</button></a>
      <a href="/users/<%= @user.id %>/measurements/"><button class="btn btn-lg btn-primary">View Measurements</button></a>
      <br>
      <br>

      <%= render 'admin_view_client_workouts', :locals => {:phases => phases, workouts: @workouts } %>

    <!-- End of admin view -->


<% elsif current_user && current_user.admin != true %>
    <!-- Start of user's view -->
    <%= render 'client_show_heading' %>


    <%= render 'measurements' %>

    <%= render 'client_workouts', :locals => {:phases => phases, workouts: @workouts } %>

    <!-- D3 graph for progress -->
    <div id="graphs-div">
      <%= render 'graphs' %>
    </div>
  <% end %>
