<div class="container">
  <div class="page-header">
    <h1><small>Add a measurement for</small> <%= @user.name.capitalize %></h1>
  </div>



  <%= form_for [@user, @measurement] do |f| %>

    
    <br>
    <br>
    
    <p>Weight:
    <%= f.text_field :weight, placeholder: "Weight" %>
    </p>
    
    <p>Waist:
    <%= f.text_field :waist, placeholder: "Waist" %>
    </p>
    
    <p>Neck:
    <%= f.text_field :neck, placeholder: "Neck" %>
    </p>
    
    <p>Chest:
    <%= f.text_field :chest, placeholder: "Chest" %>
    </p>
    
    <p>Hips:
    <%= f.text_field :hips, placeholder: "Hips" %>
    </p>

    <p>Body Fat %:
    <%= f.text_field :body_fat, placeholder: "Body Fat %" %>
    </p>

    <%= f.submit "Submit" %>
  <% end %>