<div class="container">
  <div class="page-header">
    <h1><small>Add a measurement for</small> <%= @user.name.capitalize %></h1>
  </div>



  <%= form_for [@user, @measurement] do |f| %>

    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <br>
    <br>
    
    <p>Weight:
    <%= f.text_field :weight, placeholder: "Weight in pounds" %>
    </p>

    <p>Height:
    <%= f.text_field :height, placeholder: "Height in inches" %>
    </p>

    <p>Wrist:
    <%= f.text_field :wrist, placeholder: "Wrist in inches" %>
    </p>

    <p>Forearm:
    <%= f.text_field :forearm, placeholder: "Forearm in inches" %>
    </p>

    <p>Age:
    <%= f.text_field :age, placeholder: "Age" %>
    </p>
    
    <p>Waist:
    <%= f.text_field :waist, placeholder: "Waist in inches" %>
    </p>
    
    <p>Neck:
    <%= f.text_field :neck, placeholder: "Neck in inches" %>
    </p>
    
    <p>Chest:
    <%= f.text_field :chest, placeholder: "Chest in inches" %>
    </p>
    
    <p>Hips:
    <%= f.text_field :hips, placeholder: "Hips in inches" %>
    </p>

    <p>Body Fat %:
    <%= f.text_field :body_fat, placeholder: "Body Fat %" %>
    </p>

    <p>Gender:
    <%= f.text_field :gender, placeholder: "Gender" %>
    </p>

    <%= f.submit "Submit" %>
  <% end %>